# Compiled Object files
*.slo
*.lo
*.o
 
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other
Makefile
cmake_install.cmake
CMakeFiles
CMakeCache.txt
install_manifest.txt

*.swp
log

 
dep/boost/lib
dep/glog/lib
dep/cryptopp/lib
dep/mysql/lib
callgrind.out.*
