# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other
Makefile
cmake_install.cmake
CMakeFiles
CMakeCache.txt

*.swp
log
server

# dep folder
boost_1_60_0
glog-0.3.3
cryptopp-master

dep/boost/lib
dep/glog/lib
dep/cryptopp/lib
dep/mysql/lib
callgrind.out.*